### Pandas 라이브러리

In [1]:
import pandas as pd
from itertools import repeat
a = ["A01","A02","A03","A04","A05"]
b = ["201501","201502","201503","201504","201505"]
c = ["100","150","130",None,"200"]
my_dict = dict(col1=a,col2=b,col3=c)
testdf = pd.DataFrame(my_dict)
testdf

  col1    col2  col3
0  A01  201501   100
1  A02  201502   150
2  A03  201503   130
3  A04  201504  None
4  A05  201505   200

In [2]:
testdf.columns=["REGIONID","YEARWEEK","QTY"]
testdf.head()

  REGIONID YEARWEEK   QTY
0      A01   201501   100
1      A02   201502   150
2      A03   201503   130
3      A04   201504  None
4      A05   201505   200

In [3]:
nullDf = testdf[testdf['QTY'].isnull()]
nullDf

  REGIONID YEARWEEK   QTY
3      A04   201504  None