In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
# DB 커넥션 열기
engine_oracle = create_engine('oracle+cx_oracle://HKCJ:HKCJ@10.100.3.156:1521/xe') 

# DB 커넥션 열기
#engine_postgres = create_engine('postgresql://postgres:kopo@127.0.0.1:5432/postgres') 

# DB 테이블을 읽어 Data Frame 변수에 저장하기
selloutData = pd.read_sql_query('SELECT * FROM CJ_CHANNEL_SEASONALITY', engine_oracle)

In [4]:
# 컬럼헤더 소문자로 변환
selloutData.columns = selloutData.columns.astype(str).str.lower()
selloutData.head()

  regionid    product yearweek      qty
0      A60   PRODUCT4   201402     71.0
1      A60  PRODUCT59   201402  22275.0
2      A60  PRODUCT34   201402   4463.0
3      A60  PRODUCT47   201402      0.0
4      A60  PRODUCT56   201402     23.0

In [5]:
selloutData.to_csv("./result.csv", index=False)